.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;

    .about-image {
        flex: 1 1 300px;

        img {
            max-width: 90%;
            border-radius: 10px;
        }
    }

    .about-content {
        flex: 1 1 500px;
        padding: 2rem;

        .about-title {
            font-size: 3rem;
            font-weight: bold;
            position: relative;

            .big {
                position: absolute;
                line-height: 1.5;
                top: 0px;
                left: 0px;
                font-size: 6vw;
                color: rgba(255, 255, 255, 0.096);
                z-index: 10;
                font-weight: 600;
            
            }

            .highlight {
                color: #fff;
                padding: 0 0.5rem;
            }
        }

        .about-desc {
            margin: 3rem 0;
            font-size: 1rem;
            color: #aaa;
        }

        .info-list {
            list-style: none;
            padding: 0;
            margin: 1rem 0;

            li {
                margin-bottom: 0.5rem;

                strong {
                    width: 130px;
                    display: inline-block;
                    color: #fff;
                }
            }
        }

        .projects {
            margin-top: 1.5rem;
            font-size: 1.2rem;

            .highlight {
                color: #ffb400;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        .btn {
            border-radius: 30px;
            padding: 10px 25px;
            font-weight: bold;
          }
    }
}