<section class="about-container">
    <div class="about-image">
      <img src="assets/images/profile.png" alt="Profile photo">
    </div>
  
    <div class="about-content">

      <h2 class="about-title">
     <span class="highlight">About  Me</span>
     <h2 class="big">About</h2>
      </h2>
      <p class="about-desc">
        As a Frontend Developer with expertise in Angular, React, HTML, CSS, JavaScript, TypeScript, and Bootstrap, I am dedicated to writing clean and maintainable code. My backend experience includes working with SQL Server and C#. I am passionate about learning and developing new high-tech products to deliver high-quality solutions.
      </p>
      
      <ul class="info-list">
        <li><strong>Name:</strong> Martha Emad Seddik</li>
        <li><strong>Date of birth:</strong> April  01,2001</li>
        <li><strong>Address:</strong> Cairo, Egypt</li>
        <li><strong>Phone:</strong> +2 01272778977 / +2 01097472164</li>
        <li><strong>Email:</strong> marthaemad94&#64;gmail.com</li>
        <li><strong>GitHub:</strong> <a href="https://github.com/Martha-Emad94" target="_blank">github.com/Martha-Emad94</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/martha-emad-0a5bb2196" target="_blank">linkedin.com/in/martha-emad</a></li>
      </ul>
  
      <p class="projects">
        <span class="highlight">6+</span> Projects completed
      
      </p>
      <a href="#contact" class="btn btn-warning me-3">Download cv</a>
    </div>
  
  </section>