.navbar {
  padding: 1rem 0;
  background-color: #000 !important;
cursor: pointer;
  .nav-link {
    color: #fff !important;
    margin-left: 20px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;

    &:hover,
    &.active {
      color: #f4b400 !important;
    }

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #f4b400;
      transition: width 0.3s;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
}
