<footer class="footer bg-black text-white py-4">
    <div class="container text-center">
      <p class="mb-2">&copy; {{ currentYear }} Martha Emad. All Rights Reserved.</p>
  
      <div class="social-icons d-flex justify-content-center gap-3">
        <a href="https://github.com/Martha-Emad94" target="_blank" class="text-white">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/martha-emad-0a5bb2196" target="_blank" class="text-white">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="mailto:marthaemad94@gmail.com" class="text-white">
          <i class="bi bi-envelope-fill"></i>
        </a>
        <a href="https://www.facebook.com/yourfacebookprofile" target="_blank" class="text-white">
            <i class="bi bi-facebook"></i>
          </a>
      </div>
    </div>
  </footer>
  